.button {
    margin: 0 3.5rem;

    &-container {

        padding: 1rem;
    }

    &-play {
        font-size: 18px;
        font-weight: bold;
        color: black;
        background-color: #ffffff;
        padding: 0.7rem 2rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: rgb(173, 173, 173);
        }
    }

    &-title {
        color: white;
        margin-top: 1rem;
    }

    &-overview {
        max-width: 80ch; // Limita el ancho a 20 caracteres aproximadamente
        word-wrap: break-word; // Divide las palabras largas si es necesario
        white-space: normal; // Permite que el texto ocupe varias líneas
        margin-top: 1rem;
        font-size: 1.2rem;
        font-weight: 700;
    }
}
