body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 500;
}

h1,
h2,
h3 {
    margin-top: 0;
    line-height: 1.1;
}

p {
    margin-top: 0;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: var(--text-color);
}